.about {
    background-color: #413C58;
    width: 100%;
    /* height: calc(100vh - 100px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutContainer {
    max-width: 20rem;
    margin: 0 auto;
}

.imgAbout {
    width: 100%;
    border-radius: 100%;
}

.introAbout h2 ,.introAbout h1{
     color: white;
     margin: 2rem;
}

.skills {
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.skills h1 {
    margin:5rem 0 0;
}

.skillList h2, .skills h1 {
    color: white;
    list-style: none ;
  }

.skillList {
    color: black;
    list-style: none ;  
    font-size: 20px;
}  

@media only screen and (max-width:600px) {
    .introAbout h1 h2{
        font-size: 40px;
    }
}

    .introAbout {
        margin-top: 10px;
        font-size: 20px;
        width:80%
    }

    .skills {
        text-align: center;
    }

    .skillList {
        padding: 0;
    }

    .skills h1 h2 {
        font-size: 30px;
    }