.footer {
    /* width: 100%;
    height: 200px;
    background: #413C58;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 200px; */
    padding: 20px;
    text-align: center;
    background: #413C58;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
  }

  .socialLinks svg{
    color: white;
    margin: 20px;
    margin-bottom: 0;
    font-size: 50px;
    cursor: pointer;
  }

  .socialLinks svg:hover, svg:focus-visible {
    color: #544E41;
  }

  .footer p {
    color: white;
    margin: 0;
  }