.portfolios {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.portfolios h2 {
    color: white;  
    font-size: 30px;
    text-shadow: 0 0 10px rgb(207, 58, 207);
    transition: 1s;
}

.portfolios img {
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0px 3px 15px  rgb(207, 58, 207);
    width: 50%;
}

.portfolios p {
    color: rgb(207, 58, 207);  
    font-size: 30px; 
}

.portfolios svg{
    color: white;
    font-size: 60px; 
    padding-inline: 5px;
    margin-bottom: 5rem;
}

svg:hover, svg:focus-visible{
    color:  rgb(207, 58, 207);
    transition: 1s;
    cursor: pointer;
}