.portfolio {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio {
    text-align: center;
    color: #413C58;
    font-size: 60px;
    font-weight: bolder;
}

.portfolioCards {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}
/* PROJECTCARDS STYLING ADDED */
.projectCards {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 40px;
    box-shadow: 0px 3px 15px #544E41;
    text-align: center;
}

.projectCards .bgImage{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.projectCards, h2 {
    font-size: 30px;  
}

.projectCards:hover , .projectCards:focus-visible {
    color: #544E41;
    cursor: pointer;
}