.portfolios {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.portfolios h2 {
    color: rgb(207, 58, 207);  
    font-size: 30px;
}

.portfolios img {
    width: 50%;
    border-radius: 10px;
}

.portfolios p {
    color: rgb(207, 58, 207);  
    font-size: 30px; 
}

.portfolios svg{
    color: white;
    font-size: 60px; 
    padding-inline: 5px;
}

svg:hover, svg:focus-visible{
    color:  rgb(207, 58, 207);
    cursor: pointer;
}