.portfolio {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio {
    text-align: center;
    color: #3e497a;
    font-size: 60px;
    font-weight: bolder;
}

.portfolioCards {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}